{% extends "base.html" %} {% load static %} {% block title %} フィードバック 
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/feedback_good.css' %}" />
{% endblock head %} {% block content %}
<div class="feedback-container">
  <div class="message-box">
    {% if message %}
    <p><h1>{{ message.message }}</h1></p>
    {% else %}
    <p>{{ default_message }}</p>
    {% endif %}
  </div>

  <!-- ホームボタン -->
  <div class="home">
    <form method="get" action="{% url 'goal:home' %}">
      {% csrf_token %}
      <button type="submit" class="home-button">Home</button>
    </form>
  </div>
</div>
{% endblock content %} {% block script %}
<!-- <script src="{% static 'js/feedback.js' %}">
</script> -->
{% endblock script %}
