{% extends "base.html" %} {% load static %} {% block title %} ホーム 
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock head %} {% block content %}

<div class="home-container">
  <!-- 左側：残り時間 -->
  <div class="time-box" id="user-data" data-lifespan-end="{{ user.lifespan_end_date | date:'Y-m-d' }}">
    <h2>あなたに残された時間</h2>
      <div class="countdown">
        <span id="day">{{ remaining_days }}</span>日
      </div>
    
    <div class="countdown-small-container">
      <div class="countdown-small"><span id="hour"></span>時間</div>
      <div class="countdown-small"><span id="minute"></span>分</div>
      <div class="countdown-small"><span id="second"></span>秒</div>
    </div>
  </div>

  <!-- 中央：目標 -->
  <div class="goal-box">
    <h2>目標</h2>
    <div class="goal-list">
      <div class="goal-item">
        <h3>今年の目標</h3>
        <p>目標の内容</p>
        <button class="goal-detail">詳細</button>
        <button class="goal-complete">達成</button>
      </div>
      <div class="goal-item">
        <h3>今月の目標</h3>
        <p>目標の内容</p>
        <button class="goal-detail">詳細</button>
        <button class="goal-complete">達成</button>
      </div>
    </div>
  </div>

  <!-- 右側：月のToDoリスト -->
  <div class="todo-box">
    <h2>やるべきこと</h2>
    <div class="todo-list">
      <div class="todo-item">
        <p>やることの内容</p>
        <button class="todo-complete">達成</button>
      </div>
      <div class="todo-item">
        <p>やることの内容</p>
        <button class="todo-complete">達成</button>
      </div>
    </div>
  </div>

  <div class="logout">
    <!-- ログアウトボタン -->
    <form method="post" action="{% url 'account:logout' %}">
      {% csrf_token %}
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'js/home.js' %}">
  const user = "{{user.lifespan_end_date}}";
  showRestTime(user)
</script>
{% endblock script %}
