{% extends "base.html" %} {% load static %} {% block title %} ホーム 
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock head %} {% block content %}

<div class="home-container">
  <!-- 左側：残り時間 -->
  <div
    class="time-box"
    id="user-data"
    data-lifespan-end="{{ user.lifespan_end_date | date:'Y-m-d' }}"
  >
    <h2>あなたに残された時間</h2>
    <div class="countdown"><span id="day">{{ remaining_days }}</span>日</div>

    <div class="countdown-small-container">
      <div class="countdown-small"><span id="hour"></span>時間</div>
      <div class="countdown-small"><span id="minute"></span>分</div>
      <div class="countdown-small"><span id="second"></span>秒</div>
    </div>
  </div>

  <!-- 中央：目標 -->
  <div class="goal-box">
    <h2>目標</h2>
    <div class="goal-list">
      {% if year_goal %}
      <div class="goal-item">
        <h3>{{ year_goal.year|date:"Y" }}年の目標</h3>
        <p>{{ year_goal.title }}</p>
        <div class="goal-buttons">
          <a href="{% url 'goal:year_goal_detail' %}"
            ><button class="goal-detail">詳細</button></a
          >
          <button class="goal-complete">達成</button>
        </div>
      </div>
      {% else %}
      <div class="goal-new-item">
        <h3>今年の目標がまだありません</h3>
        <p>新しい目標を作成しましょう！</p>
        <div class="goal-buttons">
          <a href="{% url 'goal:create_year_goal' %}"
            ><button class="goal-create">新規</button></a
          >
        </div>
      </div>
      {% endif %} {% if month_goal %}
      <div class="goal-item">
        <h3>{{ month_goal.month }}月の目標</h3>
        <p>{{ month_goal.title }}</p>
        <div class="goal-buttons">
          <button class="goal-detail">詳細</button>
          <button class="goal-complete">達成</button>
        </div>
      </div>
      {% else %}
      <div class="goal-new-item">
        <h3>今月の目標がまだありません</h3>
        <p>まずは年目標を作成しましょう！</p>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- 右側：月のToDoリスト -->
  <div class="todo-box">
    <h2>やるべきこと</h2>
    <div class="todo-list">
      {% for todo in todos %}
        <div class="todo-item">
          <h3>{{ month_goal.month }}月のToDo_{{ todo.id }}</h3>
            <p>{{ todo.title }}</p>
            <div class="todo-buttons">
              <button
                id="achieve-todo-button-{{ todo.id }}"
                class="todo-complete"
                style="display: {% if todo.status == 0 %}block{% else %}none{% endif %};"
                onclick="markTodoAsAchieve({{year_goal.year.year}},{{ month_goal.month }}, {{ todo.id }})">
                達成
              </button>
              <p id="achieve-todo-message-{{ todo.id }}" style="display: {% if todo.status == 1 %}block{% else %}none{% endif %};">
                達成
              </p>
            </div>
        </div>
      {% empty %}
        <p>今月のToDoはまだありません。</p>
    </div>
      {% endfor %}
  </div>

  <!-- ページネーション -->
  <div class="pagination">
    <span class="step-links">
        {% if todos.has_previous %}
            <a href="?page=1">&laquo; 最初へ</a>
            <a href="?page={{ todos.previous_page_number }}">前へ</a>
        {% endif %}

        <span class="current">
            Page {{ todos.number }} of {{ todos.paginator.num_pages }}.
        </span>

        {% if todos.has_next %}
            <a href="?page={{ todos.next_page_number }}">次へ</a>
            <a href="?page={{ todos.paginator.num_pages }}">最後へ &raquo;</a>
        {% endif %}
    </span>
  </div>

  <div class="logout">
    <!-- ログアウトボタン -->
    <form method="post" action="{% url 'account:logout' %}">
      {% csrf_token %}
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
</div>

{% endblock content %} {% block script %}
<script src="{% static 'js/home.js' %}"></script>
<script>
{% comment %} 年目標エリア {% endcomment %}

{% comment %} 月目標エリア {% endcomment %}

{% comment %} Todoエリア {% endcomment %}
async function markTodoAsAchieve(year, month, todoId) {
  try {
    const response = await fetch(
      `/goal/year_goal/${year}/month_goal/${month}/todo/${todoId}/achieve/`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({ todo_id: todoId})
      }
    );

    if (!response.ok) {
      throw new Error("Failed to Achieve todo");
    }

    const data = await response.json()
    console.log("Success", data)
    document.getElementById(`achieve-todo-button-${todoId}`).style.display = "none";
    document.getElementById(`achieve-todo-message-${todoId}`).style.display = "block";
  } catch (error) {
    console.error("Error:", error);
    console.log(error.message)
    document.getElementById("error-message").textContent =
      error.message || "状態変更に失敗しました";
  }
}
</script>
{% endblock script %}
