{% extends "base.html" %} {% load static %} {% block title %} 月目標詳細 
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/month_goal_detail.css' %}" />
{% endblock head %} {% block content %}
<div class="month-goal-container">
  <!-- 月目標エリア -->
  <div class="month-goal-box">
    <div class="month-goal-header">
      <div>{{month_goal.year_goal.year.year}}年 {{month_goal.month}}月</div>
    </div>
    <!-- エラーメッセージ表示 -->
    <div id="error-message" style="color: red"></div>
    <!--表示モード-->
    <div id="month-goal-display">
      <div class="month-goal-title">
        <div>
          月目標:<span id="month-goal-text">{{ month_goal.title }}</span>
        </div>
        <button class="edit-button" onclick="toggleEdit()">編集</button>
      </div>
    </div>

    <!--編集モード-->
    <div id="month-goal-form" style="display: none">
      <input type="text" id="goal-input" value="{{ month_goal.title }}" />
      <button
        onclick="saveGoal('{{ month_goal.year_goal.year.year }}', '{{ month_goal.month}}')"
      >
        保存
      </button>
      <button onclick="toggleEdit()">キャンセル</button>
    </div>
  </div>

  <!-- ToDoリスト -->
  <div class="todo-box">
    <div class="todo-header">
      <h2>Todos</h2>
      <a href="{% url 'goal:create_todo' month_goal.month %}"
        ><button class="todo-create">新規</button></a
      >
    </div>

    {% if todos %}
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>タイトル</th>
          <th>状態</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td>
            <a href="{% url 'goal:todo_detail' month_goal.month todo.id %}">
              {{ todo.id }}
            </a>
          </td>
          <td>{{ todo.title }}</td>
          <td>
            {% if todo.status == 0 %}
              未達成
            {% elif todo.status == 1 %}
              達成済
            {% else %}
              未達成
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% else %}
    <p>未設定</p>
    {% endif %}
  </div>

  <div
    id="achieve-button"
    style="display: {% if month_goal.status == 0 %}block{% else %}none{% endif %};"
  >
    <button
      class="todo-complete"
      onclick="handleAchieveClick({{ month_goal.to_dict }})"
    >
      達成済みにする
    </button>
  </div>
  <div
    id="achieve-message"
    style="display: {% if month_goal.status == 0 %}none{% else %}block{% endif %};"
  >
    <p>達成済</p>
  </div>
  <p id="error-message" style="color: red"></p>
  <!-- エラー表示用 -->
  <!-- モーダルの構造 -->
  <div id="modal">
    <div id="modal-content">
      <p>
        この月目標には未達成のToDoがあります。強制的に達成にすると、下のToDoも一括で完了となります。よろしいですか？
      </p>
      <button class="todo-complete" id="confirm-button">
        はい、強制達成する
      </button>
      <button class="todo-cancel" id="cancel-button">いいえ、キャンセル</button>
    </div>
  </div>

  <!-- ページネーション -->
  <div class="pagination">
    <span class="step-links">
      {% if todos.has_previous %}
      <a href="?page=1">&laquo; 最初へ</a>
      <a href="?page={{ todos.previous_page_number }}">前へ</a>
      {% endif %}

      <span class="current">
        Page {{ todos.number }} of {{ todos.paginator.num_pages }}.
      </span>

      {% if todos.has_next %}
      <a href="?page={{ todos.next_page_number }}">次へ</a>
      <a href="?page={{ todos.paginator.num_pages }}">最後へ &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %} {% block script %}

<script>
  async function checkIfTodosAchieved(year, month) {
    try {
      const response = await fetch(
        `/goal/year_goal/${year}/month_goal/${month}/has_unachieved_todos/`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        }
      );

      if (!response.ok) {
        throw new Error("Failed to fetch data");
      }
      const data = await response.json();
      if (data) {
        return data.has_unachieved_todos;
      }
      return false;
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("error-message").textContent =
        error.message || "状態変更に失敗しました";
    }
  }

  async function handleAchieveClick(monthGoal) {
    const { id, month, yearGoal } = monthGoal;

    const result = await checkIfTodosAchieved(yearGoal.year, month);
    if (!result) {
      // 月目標を達成ずみにする
      await markGoalAsAchieve(id, yearGoal, month);
      // 目標達成後にリダイレクト
      redirectToFeedbackPage(yearGoal, month)
    } else {
      // モーダルを表示
      document.getElementById("modal").style.display = "flex";
      document.getElementById("confirm-button").onclick = async function () {
        // 月目標を達成ずみにする
        await markGoalAsAchieve(id, yearGoal, month);
        // モーダルを閉じる
        hideModal();
        // 目標達成後にリダイレクト
        redirectToFeedbackPage(yearGoal, month)
      };
      document.getElementById("cancel-button").onclick = function () {
        // モーダルを閉じる
        hideModal();
      };
    }
  }

  function redirectToFeedbackPage(yearGoal, month) {
    // 現在の日付を取得
    const nowDate = new Date();

    // 月目標の月の1日に設定
    const monthGoalDate = new Date(yearGoal.year, month - 1, 1);

    if (nowDate.getMonth() > monthGoalDate.getMonth()) {
      window.location.href = `/goal/feedback/`;
    } else {
      window.location.href = `/goal/feedback_good/`;
    }
  }

  function hideModal() {
    document.getElementById("modal").style.display = "none";
  }

  async function markGoalAsAchieve(id, yearGoal, month) {
    try {
      const response = await fetch(
        `/goal/year_goal/${yearGoal.year}/month_goal/${month}/achieve/`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ month_id: id }),
        }
      );

      if (!response.ok) {
        throw new Error("Failed to Achieve goal");
      }

      const data = await response.json();
      console.log("Success:", data);
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("error-message").textContent =
        error.message || "状態変更に失敗しました";
    }
  }

  // タイトル更新
  function toggleEdit() {
    let displayDiv = document.getElementById("month-goal-display");
    let formDiv = document.getElementById("month-goal-form");
    if (displayDiv.style.display === "none") {
      displayDiv.style.display = "block";
      formDiv.style.display = "none";
    } else {
      displayDiv.style.display = "none";
      formDiv.style.display = "block";
    }
  }

  async function saveGoal(year, month) {
    let newTitle = document.getElementById("goal-input").value;
    try {
      const response = await fetch(
        `/goal/year_goal/month_goal/${year}/${month}/edit/`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({
            title: newTitle,
            year: year,
            month: month,
          }),
        }
      );

      const data = await response.json();

      if (!response.ok) {
        throw new Error(data.error?.title?.join(", ") || "保存に失敗しました");
      }

      location.reload();
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("error-message").textContent =
        error.message || "保存に失敗しました";
    }
  }
</script>
{% endblock script %}
