{% extends "base.html" %} {% load static %} {% block title %} 年目標作成
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/year_goal_create.css' %}" />
{% endblock head %} {% block content %}

<div class="tile">
  <div class="tile-header">
    <h3 class="tile-appname"></h3>
  </div>

  <div class="tile-body">
    <form id="form" method="post">
      {% csrf_token %} {% for field in form %}
      <label class="form-input">
        {{ field }}
        <span class="label">{{ field.label }}</span>
        <span class="underline"></span>
        {% if field.errors %}
        <div class="error-message">
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </label>
      {% endfor %}

      <div class="submit-container clearfix" style="margin-top: 2rem; text-align: center;">
        <div class="button-wrapper">
          <button type="submit" class="btn btn-irenic">
            <span>登録</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %} {% block script %}
<script src="{% static 'js/year_goal_create.js' %}"></script>
{% endblock script %}
