<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <title>{% block title %}FiniteDays{% endblock title %}</title>

    {% block head %}{% endblock head %}
  </head>

  <body>
    <!-- ヘッダーを共通化(hide_header=Trueの場合非表示) -->
    <!-- hide_headerの値を取得するが、非表示にする -->
    <span id="hide-header" style="display: none;">
      {% block hide_header %}{% endblock hide_header %}
    </span>

    {% if hide_header != "True" %}
      {% include "header.html" %}
    {% endif %}

    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
  </body>
</html>
